absl-py==2.0.0
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
Brotli
cachetools==5.3.2
certifi
cffi
charset-normalizer
colorama
comm
contourpy==1.0.7
cryptography
cycler==0.11.0
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
flatbuffers==23.5.26
fonttools==4.39.1
gast==0.4.0
google-auth==2.23.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.59.3
h5py==3.10.0
idna
ipykernel
ipython
ipywidgets
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==16.0.6
llvmlite==0.41.1
Markdown==3.5.1
MarkupSafe
matplotlib==3.7.1
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numba==0.58.1
numpy==1.26.2
oauthlib==3.2.2
opt-einsum==3.3.0
overrides
packaging
pandocfilters
parso
pickleshare
Pillow==9.4.0
platformdirs
ply==3.11
prometheus-client
prompt-toolkit
protobuf==3.19.6
psutil
pure-eval
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser
Pygments
pyOpenSSL
pyparsing==3.0.9
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
python-json-logger
pytz
pywin32==305.1
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
requests-oauthlib==1.3.1
rfc3339-validator
rfc3986-validator
rpds-py
rsa==4.9
scipy==1.10.1
Send2Trash
sip
six
sniffio
soupsieve
stack-data
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado
tinycss2
tomli
tornado
tqdm==4.66.1
traitlets
typing_extensions
urllib3
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==3.0.1
widgetsnbextension
win-inet-pton
wrapt==1.16.0
